<div id="login-screen col-sm-12">
    <div class="login">
        <div class="text-center">
            <i class="fa fa-github"></i>
        </div>

        <div>
            <form role="form">
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="credentials.id" placeholder="Git account name"/>
                </div>
                <button class="btn btn-block" ng-click="auth()">Browse gists</button>
            </form>
        </div>
    </div>
</div>