<div class="col-sm-12 col-md-12">
    <div class="user-info col-sm-12 col-md-12">
        <span class="pink upper">{{username}}</span>/
        <span>{{fullname}}</span>/
        <span>
            <a href="" ng-click="refresh()">Refresh gists</a>
        </span>/
        <span>
            <a href="" ng-click="logout()">Log out</a>
        </span>
    </div>

    <div class="alert alert-danger col-sm-12 col-md-12" ng-show="data.error" ng-bind="data.error"></div>

    <div class="gist-wrapper col-sm-12 col-md-12" ng-repeat="gist in data.gists">
        <h4>{{gist.description}}</h4>
        <gist id="gist.id" user="username" >
            <div ng-repeat="f in gist.files">
                <gist-file-pane title="f.filename">
                    <textarea class="editor" gist-content="" ng-model="f.content" ng-blur="update(gist)"></textarea>
                </gist-file-pane>
            </div>
        </gist>
    </div>
</div>