<div class="row">
    {{data.gists.post}}
    <div class="col-sm-8 col-md-8 user-info">
        <div class="avatar pull-left">
            <img class="img-responsive" ng-src="{{user.useravatar}}" alt="User avatar"/>
        </div>
        <div class="pull-left">
            <ul>
                <li class="pink upper">{{user.username}}</li>
                <li>{{user.fullname}}</li>
                <li>
                    <a href="" ng-click="logout()">Log out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="data.username">
                <span class="input-group-btn">
                  <button class="btn pink-button" type="button" ng-click="browse()">Get gists</button>
                </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="alert alert-danger col-sm-12 col-md-12" ng-show="data.error" ng-bind="data.error"></div>
</div>

<div ng-show="username == data.username && data.gists.length == 0">
    <create-gist gist="data.newGist" create="create()"></create-gist>
</div>

<div class="gist-wrapper col-sm-12 col-md-12" ng-repeat="gist in data.gists">
    <h4>{{gist.description}} <button class="btn pink-button" ng-show="user.id != gist.user.id" ng-click="star(gist.id)">Star!</button></h4>
    <gist id="gist.id" user="data.username">
        <div ng-repeat="f in gist.files">
            <gist-file-pane title="f.filename">
                <textarea class="editor" gist-content="" ng-model="f.content" ng-blur="update(gist)"></textarea>
            </gist-file-pane>
        </div>
    </gist>
</div>